<style type="text/css">

	p {
		color: red
	}

	h2 {
		font-size: 60px;
		font-weight: 700;
		text-align: center;
		margin: 0 0 16px;
	}

	h3 {
		font-size: 80px;
		text-align: center;
	}

	h4 {
		font-size: 40px;
		text-align: center;
	}

	form.search {
		margin: 0;
	}

	/* --- ボックス --- */
	form.search div {
		width: 303px; /* ボックスの幅 */
		padding: 1px 0; /* ボックスのパディング（上下、左右） */
		background-color: #ffffff; /* ボックスの背景色 */
		border: 1px #808080 solid; /* ボックスの境界線 */
	}

	/* --- テキストボックス --- */
	form.search input.textBox {
		width: 220px; /* テキストボックスの幅 */
		margin: 0 4px 0 5px; /* テキストボックスのマージン（上右下左） */
		padding: 0;
		background-color: #ffffff; /* テキストボックスの背景色 */
		border: none; /* テキストボックスの境界線（なし） */
		color: #000000;
	}

	/* --- ボタン --- */
	form.search input.btn {
		width: 73px; /* ボタンの幅 */
		height: 1.8em; /* ボタンの高さ */
		padding: 0;
		background: #c08000 url(btn05.gif); /* ボタンの背景 */
		border: 1px #c08000 inset; /* ボタンの境界線 */
		font-weight: bold;
		color: #000000;
		letter-spacing: 0.3em; /* 文字間のスペース */
	}

	table.title {
		/*box-shadow:5px 5px 10px;*/
		width:950px;
		height:200px;
		width:100%;
	}

	table.title td {
		vertical-align: middle;
		text-align: center; 
	}

	table.title p {
		font-size: 100px;
		font-weight: 1000;
		text-align: center;
		margin: 0 0 16px;
		font-family: Impact,Charcoal;
	}

	table.button {
		border:none;
		width:100%;
	}

	table.button td {
		width:550px;
		height:200px;
		vertical-align: middle;
		text-align: center; 
	}

	table.button a {
		transition: 1.0s ;
		color: #fff ;
	}

	table.button a:hover {
		color: #FFFF00;
	}

	table.button td.all{
		background: #ff0000
	}

	table.streaming {
		width:200px;
		height:100px;
		width:100%;
	}

	table.streaming td {
		vertical-align: middle;
		text-align: center; 
	}

	table.detail {
		/*box-shadow:5px 5px 10px;*/
		width:950px;
		height:280px;
		width:100%;
	}

	table.detail td {
		vertical-align: top;
		text-align: center;
		font-family: Impact,Charcoal; 
	}


</style>